@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Maven+Pro&family=Rammetto+One&family=Titan+One&family=Paytone+One&display=swap,https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&family=Barlow:wght@300&display=swap&family=Handjet:wght@400&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Maven Pro", sans-serif;
}

.navbar {
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    z-index: 1;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo {
    background-color: antiquewhite;
    height: 50px;
    border-radius: 50%;
    margin-top: 15px;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item {
    height: 80px;
}

.navbar_links {
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    height: 100%;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 100%;
    width: 100%;
    outline: none;
    border-radius: 4px;
    background-color: blueviolet;
    color: black;
}

.button:hover {
    background-color: beige;
    transition: all 0.2s ease;
}

.navbar_links:hover {
    color: aquamarine;
    transform: all 0.2s ease;
}

/* For tablets and mobile */
@media screen and (max-width: 960px) {
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        /* top: -1000px;
        opacity: 0; */
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1; /* Allow being able to click icon on top to trigger */
        background-color: aqua;
    }

    .navbar_menu.active { /* triggered by js */
        background-color: aqua;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 0.8rem
    }

    #navbar_logo {
        margin-left: 25px;
    }

    .navbar_toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: chartreuse;
    }

    .navbar_item {
        width: 100%;
        height: 20px;
    }

    .navbar_links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        /* transform: translate(5%, 20%); */
    }

    .navbar_btn {
        padding-bottom: 2rem;
    }
    
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 40px;
        margin: 0;

    }

    .navbar_toggle .bar {
        display: block;
        cursor: pointer;
    }
}