@import url("https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap&family=Josefin+Sans&family=Maven+Pro&family=Rammetto+One&family=Titan+One&family=Paytone+One&display=swap,https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&family=Barlow:wght@300&display=swap&family=Handjet:wght@400&display=swap");

body {
    background-color: #f2e6d5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Rammetto One", sans-serif;
}

a {
    text-decoration: none;
    color: #224D26;
}

a:hover {
    color: #926A00;
}

a:visited {
    color: #5D7E7A;
}

/* Navbar Section */
.navbar {
    overflow-x: hidden;
    background-color: #111B0C;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 99;
}

.navbar_container {
    display: flex;
    height: 54px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
    z-index: 100;
}

.navbar_links:visited {
    color: white;
}

#navbar_logo {
    position: absolute;
    background-color: white;
    height: 34px;
    border-radius: 50%;
    right: 2%;
    top: 10px;
    z-index: 999;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.navbar_item {
    height: 36px;
}

.navbar_links {
    font-size: 1rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    height: 100%;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 100%;
    width: 100%;
    outline: none;
    border-radius: 4px;
    background-color: blueviolet;
    color: black;
}

.button:hover {
    background-color: beige;
    transition: all 0.2s ease;
}

.navbar_links:hover {
    /* color: #DC7959; */
    /* color: #E3C08A; */
    color: aquamarine;
    transform: all 0.2s ease;
}

#mobile_menu input {
    position: absolute;
    top: 25%;
    right: -10%;
    transition: all 0.2s ease;
    font-size: 1rem;
    padding: 1px 5px;
    border: none;
    border-radius: 4px;
}

/* Navbar Media Responsive */
@media screen and (max-width: 720px) {
    .navbar {
        background-color: #111B0C;
        overflow-x: clip;
    }

    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 54;
        width: 100vw;
        z-index: 1;
        padding: 0 50px;
        background-color: #111B0C;
    }

    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        position: absolute;
        right: -1000px;
        opacity: 0;
        transition: all 0.2s ease;
        width: 100vw;
        height: 100vh;
        /* z-index: -1; Allow being able to click icon on top to trigger */
    }

    .navbar_menu.active { /* triggered by js */
        background-color: #111B0C;
        opacity: 1;
        transition: all 0.2s ease;
        height: 100vh;
        width: 100vw;
        font-size: 1rem;
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 99;
    }

    .navbar_toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px 5px;
        transition: all 0.2s ease-in-out;
        background-color: white;
        display: block;
        cursor: pointer;
        z-index: 999;
    }

    .navbar_item {
        width: 100%;
        height: 10vh;
    }

    .navbar_links {
        text-align: center;
        padding: 0.25rem;
        height: 10vh;
        width: 100%;
        display: table;
        color: white;
    }

    #mobile_menu {
        position: absolute;
        top: 25%;
        right: 2%;
    }

    #mobile_menu input {
        position: absolute;
        right: 10px;
        transition: all 0.2s ease;
        color: #111B0C;
        background-color: white;
        z-index: 1000;
    }

    /* .navbar_btn {
        padding-bottom: 2px;
    } */
    
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 40px;
        margin: 0;
    }

    #navbar_logo {
        position: absolute;
        background-color: white;
        height: 34px;
        border-radius: 50%;
        left: 2%;
        top: 10px;
        z-index: 999;
    }

}

/* Main Section */
.main {
    height: calc(100vh - 54px);
    background-color: #f2e6d5;
    z-index: 1;
}

.main_container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin: 0 auto;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 54px;
    transform: translateY(20%);
}

#home_img {
    align-self: center;
    justify-self: center;
    height: 100%;
    max-height: calc(50vh - 54px);
    border-radius: 5px;
    padding: auto;
    border: 2px solid #111B0C;
}

.main_image_container {
    justify-self: center;
    align-self: center;
}

.main_container h1 {
    font-size: 2.5rem;
    padding: 15px 0;
}

.main_container h2 {
    font-size: 1.5rem;
}

.main_container p {
    padding: 7px 0;
    font-family: "Reddit Mono", sans-serif;
    font-size: 1rem;
}

/* Main Section Media responsive */
@media screen and (max-width: 720px) {
    .main {
        height: auto;
    }

    .main_container {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-template-rows: repeat(autofit, minmax(150px, 1fr));
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: auto;
        padding: 0 24px;
        transform: translateY(0%);
    }

    .main_content {
        text-align: center;
        margin-bottom: 1rem;
        height: auto;
    }

    .main_container h1 {
        font-size: 2rem;
    }

    .main_container h2 {
        font-size: 1rem;
    }

    .main_container p {
        padding: 7px 0;
        margin-top: 0rem;
        font-size: 1rem;
    }

    #home_img {
        align-self: center;
        justify-self: center;
        height: auto;
        border-radius: 5px;
        padding: auto;
        border: 2px solid #111B0C;
    }

    #home_img:hover {
        transform: none;
    }

}

/* About Section */
.about {
    min-height: calc(100vh - 54px);
    background-color: #f2e6d5;
    z-index: 1;
}

.about_container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: 1fr auto auto;
    margin: 0 auto;
    z-index: 1;
    width: 100%;
    /* max-width: 1300px; */
    padding: 54px 54px;
}

.about_content {
    grid-column-start: 1;
    grid-column-end: 3;
    width: auto;
}

#about_img {
    grid-column-start: 3;
    grid-column-end: 4;
    align-self: center;
    justify-self: center;
    width: 90%;
    max-height: calc(50vh - 54px);
    border-radius: 5px;
    padding: auto;
    border: 2px solid #111B0C;
}

.about_image_container {
    justify-self: center;
    align-self: center;
    /* height: 150px; */
}

.about_container h1 {
    font-size: 1.75rem;
    padding: 0px 0;
}

.about_container h2 {
    font-size: 1.5rem;
}

.about_container p {
    padding: 7px 0;
    font-family: "Reddit Mono", sans-serif;
    font-size: 1rem;
}

.about_container a {
    padding: 7px 0;
    font-family: "Reddit Mono", sans-serif;
    font-size: 1.5rem;
}

.about_connect_container {
    padding-top: 1rem;
    font-family: "Reddit Mono", sans-serif;
    font-size: 1rem;
    grid-column: 1/4;
    text-align: center;
}

.social_container {
    grid-column: 1/4;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    padding-bottom: 54px;
}

.social_link_items {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    justify-content: center;
    padding: 5px 54px;
    width: 100%;
}

.social_link_item {
    width: auto;
    font-family: "Reddit Mono", sans-serif;
    font-size: 0.85rem;
    padding: 10px 10px;
}

.social_link_item a {
    width: auto;
    font-family: "Reddit Mono", sans-serif;
    font-size: 0.85rem;
    padding: 10px 10px;
}

/* About Section Media responsive */
@media screen and (max-width: 720px) {
    .about {
        height: auto;
        width: auto;
    }

    .about_container {
        grid-template-rows: 1fr auto auto auto;
        align-items: center;
        justify-self: center;
        justify-items: center;
        width: 100%;
        margin: 0 auto;
        height: auto;
        padding: 14px 24px;
    }

    .about_content {
        text-align: center;
        margin-bottom: 1rem;
        height: auto;
        grid-row: 1/2;
        grid-column: 1/4;
    }

    .about_container h1 {
        font-size: 1.75rem;
    }

    .about_container h2 {
        font-size: 1rem;
    }

    .about_container p {
        padding: 7px 0;
        margin-top: 0rem;
        font-size: 1rem;
    }

    .about_image_container {
        justify-self: center;
        align-self: center;
        grid-column: 1/4;
        grid-row: 2/3;
        height: 100%;
    }

    #about_img {
        align-self: center;
        justify-self: center;
        justify-items: center;
        align-items: center;
        height: 100%;
        width: auto;
        border-radius: 5px;
        padding: auto;
    }

    #about_img:hover {
        transform: none;
    }

    .about_connect_container {
        grid-column: 1/4;
        grid-row: 3/4;
        text-align: center;
    }

    .social_container {
        grid-row: 4/5;
        justify-content: center;
        align-self: start;
        align-items: start;
        width: 100%;
        margin-top: 2rem;
        padding-top: 0rem;
        grid-column: 1/4;
    }

    .social_link_items {
        display: flex;
        align-items: center;
        list-style: none;
        text-align: center;
        justify-content: center;
        padding: 0px 4px;
        width: 100%;
    }

    social_link_item {
        font-size: 0.75rem;
        align-self: start;
    }
}

/* Creations Section */
.creations {
    min-height: calc(100vh - 54px);
    background-color: #f2e6d5;
    z-index: 1;
}

.creations_container {
    margin: 0 auto;
    z-index: 1;
    width: 100%;
    padding: 54px 54px;
}

.creations h1 {
    font-size: 1.75rem;
}

.creations p {
    padding: 10px 0;
    font-family: "Reddit Mono", sans-serif;
    font-size: 1rem;
}

.creations_grid_container {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-template-rows: repeat(auto, minmax(150px, 1fr));
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    margin: 0 auto;
    z-index: 1;
    height: 100%;
    width: calc(100vw - 54px - 54px);
    padding: 10px 0px;
    justify-items: center;
    align-items: center;
}

.creations_figure {
    height: calc(((100vw - 54px - 54px - 10px - 10px)/3) + 3rem);
    width: calc((100vw - 54px - 54px - 10px - 10px)/3);
}

.creations_figure img{
    height: calc((100vw - 54px - 54px - 10px - 10px)/3);
    width: calc((100vw - 54px - 54px - 10px - 10px)/3);
    object-fit: cover;
    align-self: center;
}

.creations_figure figcaption{
    font-family: "Reddit Mono", sans-serif;
    font-size: 1rem;
}

/* Creations Section Media responsive */
@media screen and (max-width: 720px) {
    .creations_container {
        height: auto;
        padding: 14px 24px;
    }

    .creations_grid_container {
        display: grid;
        grid-template-columns: repeat(1, minmax(50px, 1fr));
        grid-template-rows: repeat(auto, minmax(50px, 1fr));
        grid-column-gap: 0px;
        grid-row-gap: 10px;
        margin: 0 auto;
        z-index: 1;
        height: 100%;
        width: calc(100vw - 54px - 54px);
        padding: 10px 0px;
        justify-items: center;
        align-items: center;
    }

    .creations h1 {
        padding: 0;
        font-size: 1.75rem;
        text-align: center;
    }

    .creations p {
        padding: 10px 0px;
        text-align: center;
    }

    .creations_figure {
        height: calc(((100vw - 54px - 54px - 10px - 10px)) + 3rem);
        width: calc((100vw - 54px - 54px - 10px - 10px));
    }

    .creations_figure img{
        height: calc((100vw - 54px - 54px - 10px - 10px));
        width: calc((100vw - 54px - 54px - 10px - 10px));
        object-fit: cover;
        align-self: center;
    }

    .creations_figure figcaption{
        font-family: "Reddit Mono", sans-serif;
        font-size: 1rem;
    }
}

/* Publications Section */
.publications {
    min-height: calc(100vh - 54px);
    background-color: #f2e6d5;
    z-index: 1;
}

.publications_container {
    margin: 0 auto;
    z-index: 1;
    width: 100%;
    padding: 54px 54px;
}

.publications h1 {
    padding: 0;
    font-size: 1.75rem;
}

.publications_entries {
    display: grid;
    grid-template-columns: repeat(1, minmax(calc(720px - 54px - 54px), 1fr));
    grid-template-rows: repeat(auto, minmax(150px, 1fr));
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    margin: 0 auto;
    z-index: 1;
    height: 100%;
    width: calc(100vw - 54px - 54px);
    padding: 10px 0px;
    justify-items: center;
    align-items: center;
}

.publication_entry {
    width: 100%;
    text-indent: 0;
}

.publication_entry h3 {
    padding-top: 15px;
    /* margin-left: 10px;
    margin-right: 10px; */
    font-size: 1.5rem;
    font-family: "Reddit Mono", sans-serif;
    justify-content: left;
    color: inherit;
}

.publication_entry h4 {
    /* padding-left: 10px;
    padding-right: 10px; */
    font-size: 1rem;
    font-family: "Reddit Mono", sans-serif;
    font-style: oblique;
    color: #5D7E7A;
    justify-content: left;
    text-justify: auto;
    text-indent: 0;
}

.publication_entry p {
    padding-top: 5px;
    /* padding-left: 10px;
    padding-right: 10px; */
    padding-bottom: 15px;
    font-size: 1rem;
    font-family: "Reddit Mono", sans-serif;
    justify-content: left;
    text-indent: 0;
}

/* Publications Section media responsive */
@media screen and (max-width: 720px) {
    .publications_container {
        height: auto;
        padding: 14px 24px;
    }

    .publications h1 {
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
        font-size: 1.75rem;
    }

    .publications_entries {
        display: grid;
        grid-template-columns: repeat(1, minmax(50px, 1fr));
        grid-template-rows: repeat(auto, minmax(150px, 1fr));
        grid-column-gap: 0px;
        grid-row-gap: 10px;
        margin: 0 auto;
        z-index: 1;
        height: 100%;
        width: calc(100vw - 54px - 54px);
        padding: 10px 0px;
        justify-items: center;
        align-items: center;
    }
}