@import "/src/data/styles.css";

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background-color: #383636;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgb(0, 0, 0);
}

.page-content {
	/* background-color: #f8f1e7; */
	position: relative;
	background: linear-gradient(
      230deg,
      var(--dark-purple-color),
      rgba(255, 0, 0, 0) 50.71%
    ), linear-gradient(127deg, var(--hot-pink-color), rgba(0, 255, 0, 0) 60.71%),
    linear-gradient(336deg, var(--mustard-yellow-color), rgba(0, 0, 255, 0) 60.71%); 
	min-height: 100vh;
}

.page-content:before,
.page-content:after {
	content: "";
	position: fixed;
	top: 0;
	bottom: 0;
	width: calc((100% - 1200px) / 2);
	height: 100%;
	/* background-color: #f8f1e7; */
	/* background-color: var(--hot-pink-color); */
	/* background: linear-gradient(
      217deg,
      var(--dark-purple-color),
      rgba(255, 0, 0, 0) 70.71%
    ), linear-gradient(127deg, var(--hot-pink-color), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, var(--dark-green-color), rgba(0, 0, 255, 0) 70.71%); */
	/* background: linear-gradient(0deg, var(--hot-pink-color) 0%, var(--dark-green-color) 100%); */
	/* border-right: 1px solid var(--dark-green-color);
	border-left: 1px solid var(--dark-green-color); */
}

.page-content:before {
	left: 0;
	z-index: 1;
}

.page-content:after {
	right: 0;
	z-index: 1;
}

.content-wrapper {
	max-width: 1000px;
	margin: 0 auto;
}

.title {
	color: var(--dark-green-color) !important;
	font-family: var(--secondary-font);
	font-size: 46px;
	font-weight: 700;
	width: 70%;
	mix-blend-mode: soft-light;
	/* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; */
}

.subtitle {
	padding-top: 10px;
	color: var(--secondary-color);
	mix-blend-mode: darken;
	font-size: 16px;
	line-height: 28px;
	width: 100%;
	margin-top: 25px;
}

/* .page-footer {
	position: block;

}

.page-footer::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	border-top: 1px solid var(--dark-green-color);
} */

@media (max-width: 1270px) {
	.page-content:before,
	.page-content:after {
		width: calc((100% - 90%) / 2);
	}

	.content-wrapper {
		max-width: 90%;
		padding-left: 10%;
		padding-right: 10%;
	}
}

@media (max-width: 1024px) {
	.page-content:before,
	.page-content:after {
		width: calc((100% - 950px) / 2);
	}

	.content-wrapper {
		max-width: 980px;
	}
}

@media (max-width: 800px) {
	.content-wrapper {
		max-width: 90%;
		margin: 0 auto;
		padding: 0 10px;
	}

	.page-content:before,
	.page-content:after {
		display: none;
	}

	.title {
		width: 100%;
	}

	.subtitle {
		width: 100%;
	}
}

.artThumbnail {
	width: 100%;
	padding: 10px 0 0 0;
}