:root {
	/* ------- colors ------- */
	--primary-color: #27272a;
	--secondary-color: #65656d;
	--tertiary-color: #acacb4;
	--quaternary-color: #e4e4e7;
	--link-color: #FE2784;
	--bam-color: #FE2784;
	--boom-color: #ffff33;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Barlow", sans-serif;
	--secondary-font: "Poppins", sans-serif;
	/* --------------------- */
}
