:root {
	/* ------- colors ------- */
	--primary-color: #27272a;
	--secondary-color: #313135;
	--tertiary-color: #f8f1e7;
	--link-color: #F0388E;
	--bam-color: #F0388E;
	--boom-color: #ffff33;
	--dark-green-color: #153438;
	--dark-purple-color: #3C3199;
	--hot-pink-color: #F0388E;
	--mustard-yellow-color: #D98B19;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Maven Pro", sans-serif;
	--secondary-font: "Rammetto One", sans-serif;
	/* --------------------- */
}
